<div class="inner" id="holding-page">
	<p>Привет. «Когда же мы продолжим», — часто спрашиваете вы. «Дайте еще кусочков на сортировку». Есть причина, по которой мы пока не даем сортировать фрагменты. Она звучит так:</p>
 
	<p>Начинать массовую сортировку кусочков нужно, когда у нас будет работающее от и до решение.</p>
 
	<p>Весь процесс выглядит так:</p>
 	
 	<ul>
		<li>У вас есть 45 мешков с кусочками документов. Это миллиона 2-3 кусочков.</li>
		<li>Эти кусочки нужно выклеить на листы и отсканировать. Это тьма работы <strong>(и много уже сделано)</strong></li>
		<li>Потом доделать сайт <strong>(тут у нас всё ок)</strong>, на котором пользователи разложат их на группы по признакам. Это тьма работы <strong>(и много уже сделано)</strong>.</li>
		<li>Потом доделать программу, которая увидит то, что не видят люди <strong>(тоже всё ок, но можно еще поулучшать)</strong>.</li>
		<li>А в конце написать сайт, на котором пользователи смогут при помощи программ поддержки коллективно собирать документы <strong>(Ооооо!)</strong></li>
		<li>Мы работаем над этой программой. И верим, что нам удастся ее сделать. Но пока ее нет. И тратить ваше время на сортировку документов до готовности — неправильно.</li>
 	</ul>

	<p>Сейчас у нас есть промаркированные вами 3 тысячи тестовых кусочков. Это кусочки документа, который мы сами и напечатали, и разрезали. Когда мы допишем прототип и соберем их - мы будем уверены, что можно начинать работу с большими реальными документами. Пока мы работаем над этим, с переменным успехом. Как только будет результат - мы обязательно об этом расскажем.</p>

	<p>Спасибо, что вы с нами. С благодарностью, <a href="https://www.facebook.com/monti.czardas">Денис Бигус</a>, <a href="https://www.facebook.com/anatoly.chernenko.25">Дмитрий Чаплинский</a> и команда Unshred.It</p>
	<p>Если вы хотите знать больше о процессе, текущих делах и творческих планах — <a href="https://github.com/dchaplinsky/unshred/wiki/Long-road-to-the-MVP">кликните сюда</a>.</p>
</div>