{% macro render_dict_as_table(data) %}
    <table class="sTable" width="100%">
        <tbody>
            {% for key, value in data.items()|sort %}
            <tr>
                <td><strong>{{ key }}</strong></td>
                {% if value.__class__.__name__ == "dict" %}
                <td>{{ render_dict_as_table(value) }}</td>
                {% else %}
                <td>{{ value }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}
    {% if pagination.has_next %}
        <a href="{{ url_for(endpoint, page=pagination.next_num) }}" class="next-page">&raquo;</a>
    {% endif %}
{% endmacro %}

{% macro render_shred_snippet(shred) %}
    {% with shred_tags = shred.get_user_tags(user) %}
    <div class="thumbnail clearfix shred" data-img="{{ shred.piece_fname }}"
        data-id="{{ shred.id }}" {% if shred_tags %}data-angle="{{ shred_tags.angle }}"{% endif %}>
        <a class="add-to-page" href="#"><img src="{{ shred.piece_fname }}" /></a>
        <div class="caption">
            {% if shred_tags %}
            <a class="btn edit-link" data-toggle="tooltip" href="{{ url_for("shred", shred_id=shred.id) }}" title="Редактировать"></a>
            <a class="btn add-to-page" data-toggle="tooltip" href="#" title="Добавить на страницу"></a>
            {% if shred_tags.angle %}<span class="label label-success label-angle">{{ shred_tags.angle }}&deg;</span>{% endif %}
            <div class="clearfix"></div>
                <div class="shred-pages">
                {% for page in shred_tags.pages %}
                    <span class="label label-warning" data-name="{{ page.name }}">{{ page.name }}</span>
                {% endfor %}
                </div>
                {% for tag in shred_tags.tags %}
                    <span class="label label-info">{{ tag|capitalize }}</span>
                {% endfor %}

                {% if shred_tags.recognizable_chars %}
                    <pre>{{ shred_tags.recognizable_chars }}</pre>
                {% endif %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
{% endmacro %}