{% macro render_dict_as_table(data) %}
    <table class="sTable" width="100%">
        <tbody>
            {% for key, value in data.items()|sort %}
            <tr>
                <td><strong>{{ key }}</strong></td>
                {% if value.__class__.__name__ == "dict" %}
                <td>{{ render_dict_as_table(value) }}</td>
                {% else %}
                <td>{{ value }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}
    <ul class="pagination">
    {% if pagination.has_prev %}
        <li><a href="{{ url_for(endpoint, page=pagination.prev().page) }}">&laquo;</a></li>
    {% endif %}
    {%- for page in pagination.iter_pages() %}
    {% if page %}
        <li{% if page == pagination.page %} class="active"{% endif %}><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
    {% else %}
        <span class="ellipsis">…</span>
    {% endif %}
    {%- endfor %}
    {% if pagination.has_next %}
        <li><a href="{{ url_for(endpoint, page=pagination.next().page) }}">&raquo;</a></li>
    {% endif %}
    </ul>
{% endmacro %}
