{% if cluster %}
<form method="POST" action="{% if edit %}{{ url_for("shred", cluster_id=cluster.id) }}{% else %}{{ url_for("next") }}{% endif %}">
    <div class="workspace">
        {# TODO: Render all members intelligently. #}
        <img class="shred-img zoom-it" src="{{ cluster.members.0.shred.piece_fname }}" />
    </div>

    <div class="item-features">
        <textarea class="textarea-tags" rows="2" data-suggestions="{{ all_tags|map('capitalize')|list|tojson|forceescape }}"
        data-auto_tags="{{ auto_tags|map('capitalize')|list|tojson|forceescape}}"
        {% if user_data %}data-existing_tags="{{ user_data.tags|map('capitalize')|list|tojson|forceescape}}"{% endif %}></textarea>
        <div class="clearfix"></div>
        <label>Узнаваемые элементы текста:</label>
        <textarea name="rec-chars" id="rec-chars" placeholder="Узнаваемые элементы текста" rows="3">{% if user_data %}{{ user_data.recognizable_chars }}{% endif %}</textarea>

        <a class="btn btn-default btn-tools cw" data-toggle="tooltip" href="#" title="Повернуть по часовой стрелке (ctrl+g)"><span></span></a>
        <a class="btn btn-default btn-tools ccw" data-toggle="tooltip" href="#" title="Повернуть против часовой стрелки  (ctrl+h)"><span></span></a>
        {% if not edit %}
            <a class="btn btn-default btn-tools info" data-toggle="tooltip" href="#additional-info" id="additional-info-link" title="Детальная информация о фрагменте (ctrl+i)"><span></span></a>
        {% endif %}
        <a class="btn btn-lg btn-default" id="save-button" href="#">Сохранить <small>(alt+enter)</small></a>

        <input type="hidden" name="edit" value="{{ edit|default(False)|int }}"/>
        <input type="hidden" name="item_id" id="item_id" value="{{ cluster.id }}"/>
        <input type="hidden" name="tagging_start" id="tagging_start" value="{{ tagging_start }}">
        {% if user_data %}<input type="hidden" name="angle" value="{{ user_data.angle }}">{% endif %}
    </div>

    <div class="clearfix"></div>
</form>

{% if not edit %}
    <div class="mastfoot clearfix">
        <div class="inner">
            <dl>
                <dt>Обработал всего:</dt>
                <dd>{{ processed_total }}</dd>
                <dt>Обработал за сессию:</dt>
                <dd>{{ processed_per_session }}</dd>
                <dt>Рейтинг:</dt>
                <dd>{{ rating }}</dd>
            </dl>
        </div>
    </div>

    <div class="zoom-anim-dialog mfp-hide small-dialog" id="additional-info">
        <h4>Порция {{ cluster.batch }} / Лист #{{ cluster.sheet }} / фрагмент #{{ cluster.name }}</h4>
        <div class="shred-img-ctx"><img src="{{ cluster.members.0.shred.piece_in_context_fname }}" /></div>
        <table class="sTable">
            {% with f = cluster.features %}
            <tbody>
                <tr>
                    <th>Площадь</th>
                    <td>{{ f.area }}px<sup>2</sup></td>
                </tr>
                <tr>
                    <th>Ширина</th>
                    <td>{{ f.width }}px</td>
                </tr>
                <tr>
                    <th>Высота</th>
                    <td>{{ f.height }}px</td>
                </tr>
                <tr>
                    <th>Соотношение сторон</th>
                    <td>{{ "%5.2f"|format(f.ratio) }}</td>
                </tr>
                <tr>
                    <th>Компактность</th>
                    <td>{{ "%5.2f"|format(f.solidity) }}</td>
                </tr>
            </tbody>
            {% endwith %}
        </table>
        <div class="clearfix"></div>
    </div>
{% endif %}

{% else %}
<div><h2>Спасибо за помощь, сознательный гражданин! Работа завершена и теперь
подарочный Курченко будет выслан Вам укрпочтой в течении 7 рабочих дней.</h2>

<p>
Бета-тест закончен, внесите сайт в закладки, через 2 недели мы запустим настоящую работу!
Та информация, которую вы внесли на протяжении бета-теста, очень важна для нас.
Используя ее мы будем отлаживать и настраивать систему.
</p>
</div>
{% endif %}
