<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Unshred tagging workplace</title>
        {% assets "css_all" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% if user.is_anonymous() %}
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    {% if config.SITE_IS_CLOSED %}
                        {% include '_holding_page.html' %}
                    {% else %}
                    <div id="public-homepage">
                        <div id="warm-welcome" class="cover inner">
                            <p>Привет. Если вы уже знаете, куда попали – заходите. Если нет, то давайте я вкратце расскажу.</p>
                            <p>Жил-был юноша по имени <a href="http://uk.wikipedia.org/wiki/Курченко_Сергій_Віталійович" target="_blank">Сережа Курченко</a>. Он начал свой путь менеджером в пивной компании. Но попал в оборот. И при Януковиче за пару лет стал олигархом. Его холдинг ВЕТЭК занимался в основном махинациями с топливом. Газом и нефтью. В тесном сотрудничестве с «министром налогов» Александром Клименко. Проще говоря – Сергей Курченко был «ширмой», за которой пилились деньги для множества политиков времен Януковича: Клименко, Кацубы, Пшонки.</p>
                            <p>Когда Янукович развалился, Курченко тоже сбежал в Москву. А на мусорке под его офисом журналисты нашли 40 мешков с разрезанными документами. Это были первые документы из очень засекреченного офиса. В них много интересной и важной информации.</p>
                            <p>Инициатива по их восстановлению выросла в работу по созданию программного комплекса, позволяющего восстанавливать «шред». Потому что оказалось, что программы для этого не существует.</p>
                            <p><strong>Нет, не существует.</strong></p>
                            <p>Да, вы уверены, что она есть, но ее нет. Честно. Даже ФБР нечем похвастаться. Иначе мы бы просто ее купили и сделали вжжжжик. А ее нет. Так что вам сейчас предстоит стать частью комплекса по восстановлению документов Курченка. Проекта, который начинался под названием «Канцелярская сотня», а теперь переехал в интернет.</p>
                            <p>Спасибо вам за это.</p>
                        </div>

                        <ul id="signin">
                            <li><a class="facebook" href="{{ url_for("social.auth", backend="facebook") }}" title="Facebook">Facebook</a></li>
                            <li><a class="twitter" href="{{ url_for("social.auth", backend="twitter") }}" title="Twitter">Twitter</a></li>
                            <li><a class="googleplus" href="{{ url_for("social.auth", backend="google-oauth2") }}" title="Google+/Gmail">Google+/Gmail</a></li>
                            <li><a class="vkontakte" href="{{ url_for("social.auth", backend="vk-oauth2") }}" title="VK.com">VK.com</a></li>
                        </ul>
                        <div class="sponsored-logo">
                        Спасибо за помощь Фонду
                        <a href="http://www.novaukraine.org/" target="_blank"><img src="/static/images/nova-logo.png" alt="Nova Ukraine" width="188" height="62" /></a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <a href="https://github.com/dchaplinsky/unshred-tag"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
        {% else %}
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="masthead clearfix">
                        <div class="inner fixed-header clearfix">
                            <img id="logo" src="/static/images/logo.png" alt="Канцелярская сотня представляет!" width="45" height="45" />
                            <h3 class="masthead-brand">Собери 10 мешков и получи Курченко в подарок!</h3>
                            <ul class="nav masthead-nav">
                                {% block nav %}
                                {% endblock %}
                                {% if user.is_authenticated() %}
                                <li><form action="{{ url_for('logout') }}" method="post"><input type="submit" value="Logout"></form></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <script type="text/javascript">
            window.user = '{{ user.username }}';
            window.urls = {
                "skip": "{{ url_for("skip") }}",
                "next": "{{ url_for("next") }}",
                "pages": "{{ url_for("pages") }}",
            }
        </script>
        {% endif %}

        {% assets "js_all" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>
