<div class="inner cover">
<p>Уважаемые альфа-тестеры!</p>
<p>
    Команда разработчиков выражает вам свою благодарность за отзывы, предлложения по улучшению и профессионально выполненные баг-репорты.
    Мы обработали все ваши письма и составили список улучшений из 20 пунктов, реализацией которого мы и намереваемся заняться.
    Как только мы будем готовы показать вам новую версию, мы откроем доступ к сайту и разошлем всем письма.
</p>
<p>Еще раз большое спасибо. Для нас очень важен каждый отзыв. Честно.</p>
</div>