<div class="inner cover">
<p>Дорогие все, первый этап тестирования успешно завершен. Мы получили два десятка толковых советов. Сейчас сайт закрыт и прямо в эту минуту его усиленно улучшают.</p>
<p>Как только все будет сделано, стартует второй этап тестов. А там, глядишь, и хэппи энд недалеко.</p>
<p>Если вы программист и хотите нам помочь, пишите на <a href="mailto:unshredit@gmail.com">unshredit@gmail.com</a>.
	По всем другим вопросам – тоже пишите туда. Скоро увидимся. Спасибо.
</p>
<img src="http://i.imgur.com/YwJNr5D.jpg" title="Команда разработчиков разрабатывает" />
</div>