{% extends "base.html" %}
{% block nav %}
    <li class="active"><a href="#tag_hints" class="popup-with-zoom-anim">Инструкция (F1)</a></li>
    <li><a href="{{ url_for('review') }}">Ваши Фрагменты</a></li>
{% endblock %}
{% block content %}
    {% if config.SITE_IS_CLOSED and not user.is_admin() %}
        {% include 'holding_page.html' %}
    {% else %}
        <div class="inner cover" id="current_shred">

        </div>
        <div id="tags_list">
            {% for category in base_tags|groupby('category') %}
                <h6>{{ category.grouper }}</h6>
                {% for t in category.list -%}
                <a href="#" class="label label-primary" data-toggle="tooltip" href="#" title="{{ t.description }}" data-value="{{ t.title|capitalize }}" {% if t.hotkey %}data-hotkey="{{ t.hotkey }}"{% endif %}>
                    {{ t.title|capitalize }}{% if t.hotkey %} <span class="hotkey">({{ t.hotkey }})</span>{% endif %}</a>
                {%- endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="zoom-anim-dialog mfp-hide small-dialog" id="tag_hints">
        <div class="dialog-content">
            <h3>Инструкция по работе в панели Unshred.it</h3>
            <p>
                Привет. Еще раз спасибо, что готовы потратить немного времени и помочь нам в восстановлении документов Курченко. Главная задача волонтеров – «разложить» тысячи фрагментов шреда на как можно меньшие группы. Это облегчит задачу программе, которая будет собирать из фрагментов документы.
            </p>
            <p>
                Для этого вы можете присвоить каждому фрагменту определенные «тэги»-свойства. Тэги – общие для всех пользователей. Если вы видите, что ни один из общих тэгов не подходит к вашему фрагменту – можете добавить свой. Если это будет удачный вариант, то модератор сделает его общим. Но не увлекайтесь излишней детализацией, тэг «красноватое пятнышко, как грудка снегиря на ветви сакуры в январе» - плохой тэг.
            </p>
            <p>
                Если вы видите что определенные фрагменты точно-точно-наверняка раньше были одним целым, то кроме проставления тэгов их можно «связать» между собой напрямую. Особенно хорошо «связанность» видна на обрезках фотографий. 
            </p>
            <p>
                Третья возможность: поле для ввода букв и символов, которые вы видите на обрывке. Они вводятся точно так же, как на картинке. С пробелами, точками, запятыми и т.п.
            </p>
            <p>
                Как видите – все просто, удобно и медитативно. Но помните, что вы желаете важное и нужное дело. Все команда unshred.it очень надеется на вашу ответственность.
            </p>

            <h4>А теперь, давайте просмотрим список тэгов.</h4>
            <h5>Фон: Белый, Цветной, В точку, Фактурный, В клетку, Разлинованый, Фото</h5>
            <p>
                Особых пояснений не требует. Казалось бы. Однако обратите внимание, например вот здесь  – фон все же белый, и явно фактурный. Цветные элементы и линии относятся к содержимому, а не фону. 
            </p>
            <h5>Тип печати: Принтер ЧБ, Ксерокопия, Матричный принтер.</h5>
            <p>
                Только для тех случаев, когда вы можете это установить. Хотя цветные фрагменты напечатаны на цветном принтере почти наверняка. Да и серые полоски от ксерокопирования хорошо различаются.
            </p>
            <h5>Свойства фрагмента: Ровный край в длину, Ровный край в ширину, Склеенные фрагменты</h5>
            <p>
                Ровный край – край, который был краем листа до разрезания. На нем отсутствуют ворсинки от ножа шредера. Встречается он нечасто, но если встречается – позволяет собрать «рамку», как в пазле. Если вы не уверены, что это «ровный край», то скорее всего это не он. Не отмечайте. Некоторые фрагменты из-за технологического брака попадают к вам по 2-3 на одной картинке. Они помечаются как склеенные.
            </p>
            <h5>Контраст: Четкая печать, Блеклая печать</h5>
            <p>
                Хотя контрастность – вещь субъективная, иногда очень четко видно, что документ не пропечатан.
            </p>
            <h5>Содержимое: Рукописный текст, Печатный текст, Изображение, Таблица, Схема, Полоса, Пустой, Кавычки, Скобки, Имя или название</h5>
            <p>
                Одни из важнейших характеристик. Отнеситесь к ней с особым вниманием. Рукописный текст и печатный текст – если видно, что это именно основной текст на листе. Фрагмент с печатным текстом и рукописным одновременно будет маркирован «печатный текст» с тэгом «ручка» из рубрики «особое». Изображение – фотография или картинка. Таблицы как правило опознаются по нескольким параллельным черточкам. Если полоса одна, то это полоса. Кавычки и скобки – тут все понятно. Имя или название – определяйте сами. К этому относятся действительно ВСЕ имена и названия. Города, люди, компании. Все, что с большой буквы, в общем. В содержимое чаще всего приходится добавлять собственные тэги.
            </p>
            <h5>Ориентация: Вдоль, Поперек, Пщ-диагонали</h5>
            <p>
                В первую очередь относится к тексту и элементам таблиц. Вдоль – текст ориентирован по длинной стороне фрагмента. Поперек – по короткой. По диагонали – все, что нельзя отнести к первым двум пунктам.
            </p>
            <h5>Язык: Русский, Украинский, Английский, Цифры, Другое</h5>
            <p>
                Помимо ввода символов с фрагмента в отдельное поле, пометьте, пожалуйста, язык.
            </p>
            
            <h5>Шрифт: Засечки, Без засечек, Основной, Заголовок, Жирный, Наклонный, Подчеркивание, Зачеркнутый, Цветной, Адрес сайта, Нормальный межстрочный интервал, Увеличенный межстрочный интервал</h5>
            <p>
                Только если вы понимаете, что такое засечки. Пожалуйста, не стоит вводить название шрифта, размер в пикселах и прочие тонкости. Ведь остальные пользователи их вряд ли введут, а значит ваша работа пропадет зря.
            </p>
            <h5>Особое: Маркер, Печать, Карандаш, Ручка, Подпись, Шапка, Чек, Перфорация, Пятно</h5>
            <p>
                Еще один раздел, в котором часто добавляют пользовательские тэги. К нему относятся все странности и неклассифицируемые пометки, которые вы видите на фрагменте.
            </p>
        </div>
    </div>
{% endblock %}
