{% extends "base.html" %}
{% block content %}
    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand">Собери 10 мешков и получи Курченко в подарок!</h3>
            <ul class="nav masthead-nav">
                <li class="active"><a href="#tag_hints" class="popup-with-zoom-anim">Инструкция (F1)</a></li>
                {% if user.is_authenticated() %}
                <li><form action="{{ url_for('logout') }}" method="post"><input type="submit" value="Logout"></form></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% if config.SITE_IS_CLOSED and not user.is_admin() %}
        {% include 'holding_page.html' %}
    {% else %}
        <div class="inner cover" id="current_shred">

        </div>
    {% endif %}

    <div class="zoom-anim-dialog mfp-hide small-dialog" id="tag_hints">
        <div class="dialog-content">
            <h3>Инструкция</h3>
            <p>Добро пожаловать в АРМ по ручной классификации фрагментов.
            Задача АРМ — дать возможность быстро и удобно присвоить каждому фрагменту один или несколько тэгов (свойств).
            Помимо уже существующих тэгов вы также можете добавить свои собственные. Для этого введите в поле свой тэг и нажмите Enter.
            Для того, чтобы пропустить текущий фрагмент достаточно нажать “сохранить” оставив поле ввода тэгов пустым.
            Пропущенный фрагмент будет помещен в конец очереди.
            Для ротации фрагментов вы можете использовать сочитания клавишь Ctrl+z (против часовой) и Ctrl+x (по часовой).
            </p>
            <h4>Краткое описание тэгов</h4>
            {% for t in base_tags %}
            <dl>
                <dt>{{ t.title|capitalize }}</dt>
                <dd>{{ t.description }}</dd>
            </dl>
            {% endfor %}
        </div>
    </div>
{% endblock %}
