{% extends "base.html" %}
{% block nav %}
    <li class="active"><a href="#tag_hints" class="popup-with-zoom-anim">Инструкция (F1)</a></li>
    <li><a href="{{ url_for('review') }}">Ваши Фрагменты</a></li>
{% endblock %}
{% block content %}
    {% if config.SITE_IS_CLOSED and not user.is_admin() %}
        {% include '_holding_page.html' %}
    {% else %}
        <div class="inner cover" id="current_shred">
        {% block shred %}
        {% endblock %}
        </div>
        <div id="tags_list">
            {% for category in base_tags|groupby('category') %}
                <h6>{{ category.grouper }}</h6>
                {% for t in category.list -%}
                <a href="#" class="label label-primary" data-toggle="tooltip" href="#" title="{{ t.description }}" data-value="{{ t.title|capitalize }}" {% if t.hotkey %}data-hotkey="{{ t.hotkey }}"{% endif %}>
                    {{ t.title|capitalize }}{% if t.hotkey %} <span class="hotkey">({{ t.hotkey }})</span>{% endif %}</a>
                {%- endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="zoom-anim-dialog mfp-hide small-dialog" id="tag_hints">
        <div class="dialog-content">
            <h3>Инструкция по работе в панели Unshred.it</h3>
            <p>
                Привет. Еще раз спасибо, что готовы потратить немного времени и помочь нам в восстановлении документов Курченко. Главная задача волонтеров – рассортировать тысячи фрагментов шреда на как можно меньшие группы. Это облегчит задачу программе, которая будет собирать из фрагментов документы.
            </p>
            <p>
                Для этого вы можете присвоить каждому фрагменту определенные «тэги»-свойства. Тэги – общие для всех пользователей. Если вы видите, что ни один из общих тэгов не подходит к вашему фрагменту – можете добавить свой. Если это будет удачный вариант, то модератор сделает его общим. Но не увлекайтесь излишней детализацией, тэг «красноватое пятнышко, как грудка снегиря на ветви сакуры в январе» - плохой тэг.
            </p>
            <p>
                Обратите внимание, что фрагмент можно поворачивать. Пожалуйста, переверните фрагмент так, чтобы буквы на нем были ориентированы нормально. Если буквы напечатаны под углом, то подберите максимально подходящий вариант (но такое бывает редко).
            </p>
            <p>
                Если на фрагменте что-то напечатано, пожалуйста, введите это в специальное поле. Все символы вводятся точно так же, как на картинке. С пробелами, точками, запятыми и т.п. Если у вас по одной букве в строчке – вводите их тоже каждую с новой строки.
            </p>
            <p>
                Периодически заглядывайте в меню «Ваши фрагменты». Там выводятся все обработанные вами кусочки. Если вы видите что некоторые фрагменты точно-точно-наверняка с одной страницы, то вы можете «связать» их между собой напрямую. Для этого выберите «родные» фрагменты, и в панели снизу присвойте им страницу. Страницу можно называть как угодно, лишь бы вы сами поняли это название. <strong>ВНИМАНИЕ</strong>: Собирайте фрагменты в страницу только если у вас нет <strong class="redhot">ни малейших</strong> сомнений в их связности.
            </p>
            <p>
                Как видите – все просто, удобно и медитативно. Но помните, что вы делаете важное и нужное дело. Вся команда unshred.it очень надеется на вашу ответственность.
            </p>

            <h4>А теперь, давайте просмотрим список тэгов.</h4>
            <h5>Фон: Белый, Цветной, В точку, Фактурный, В клетку, Разлинованый, Фото</h5>
            <p>
                <img src="/static/images/shred_example1.png" width="70" height="270" alt="Пример шреда" align="left" />
                Особых пояснений не требует. Казалось бы. Однако обратите внимание, например вот здесь  – фон все же белый, и явно фактурный. Цветные элементы и линии относятся к содержимому, а не фону. 
            </p>
            <div class="clearfix"></div>
            <h5>Тип печати: Принтер ЧБ, Ксерокопия, Матричный принтер.</h5>
            <p>
                Только для тех случаев, когда вы можете это установить. Хотя цветные фрагменты напечатаны на цветном принтере почти наверняка. Да и серые полоски от ксерокопирования хорошо различаются.
            </p>
            <h5>Свойства фрагмента: Ровный край в длину, Ровный край в ширину, Склеенные фрагменты</h5>
            <p>
                Ровный край – край, который был краем листа до разрезания. На нем отсутствуют ворсинки от ножа шредера. Встречается он нечасто, но если встречается – позволяет собрать «рамку», как в пазле. Если вы не уверены, что это «ровный край», то скорее всего это не он. Не отмечайте. Некоторые фрагменты из-за технологического брака попадают к вам по 2-3 на одной картинке. Они помечаются как склеенные.
            </p>
            <h5>Контраст: Четкая печать, Блеклая печать</h5>
            <p>
                Хотя контрастность – вещь субъективная, иногда очень четко видно, что документ не пропечатан.
            </p>
            <h5>Содержимое: рукописный текст, печатный текст, изображение, таблица, схема, полоса, пустой, кавычки, скобки, имя или название</h5>
            <p>
                Одни из важнейших характеристик. Отнеситесь к ней с особым вниманием. Рукописный текст и печатный текст – если видно, что это именно основной текст на листе. Фрагмент с печатным текстом и рукописным одновременно будет маркирован «печатный текст» с тэгом «ручка» из рубрики «особое». Изображение – фотография или картинка. Таблицы как правило опознаются по нескольким параллельным черточкам. Если полоса одна, то это полоса. Кавычки и скобки – тут все понятно. Имя или название – определяйте сами. К этому относятся действительно ВСЕ имена и названия. Города, люди, компании. Все, что с большой буквы, в общем. В содержимое чаще всего приходится добавлять собственные тэги.
            </p>
            <h5>Ориентация: Вдоль, Поперек, Под углом</h5>
            <p>
                В первую очередь относится к тексту и элементам таблиц. Вдоль – текст ориентирован по длинной стороне фрагмента. Поперек – по короткой. Под углом – все, что нельзя отнести к первым двум пунктам.
            </p>
            <h5>Язык: Русский, Украинский, Английский, Цифры, Другое</h5>
            <p>
                Помимо ввода символов с фрагмента в отдельное поле, пометьте, пожалуйста, язык.
            </p>
            
            <h5>Шрифт: Засечки, Без засечек, Основной, Заголовок, Жирный, Наклонный, Подчеркивание, Зачеркнутый, Цветной, Адрес сайта, Нормальный межстрочный интервал, Увеличенный межстрочный интервал</h5>
            <p>
                Только если вы понимаете, что такое засечки. Пожалуйста, не стоит вводить название шрифта, размер в пикселах и прочие тонкости. Ведь остальные пользователи их вряд ли введут, а значит ваша работа пропадет зря.
            </p>
            <h5>Особое: Маркер, Печать, Карандаш, Ручка, Подпись, Шапка, Чек, Перфорация, Пятно</h5>
            <p>
                Еще один раздел, в котором часто добавляют пользовательские тэги. К нему относятся все странности и неклассифицируемые пометки, которые вы видите на фрагменте.
            </p>
        </div>
    </div>
{% endblock %}
