{% extends "base.html" %}
{% from "_macros.html" import render_pagination %}

{% block nav %}
    <li><a href="/">Главная</a></li>
{% endblock %}

{% block content %}
    <div class="inner cover container-fluid shreds-list-wrapper">
        <div class="shreds-list">
            {% for shred in shreds.items %}
                {% if loop.index % 4 == 1 %}
                <div class="row">
                {% endif %}
                <div class="col-md-3">
                    <div class="thumbnail clearfix shred">
                        <a class="add-to-page" href=""
                        data-img="{{ shred.piece_fname }}"
                        data-id="{{ shred.id }}">
                        <img src="{{ shred.piece_fname }}" /></a>
                        <div class="caption">
                            {% with shred_tags = shred.get_user_tags(user) %}
                            {% if shred_tags %}
                                {% for tag in shred_tags.tags %}
                                    <span class="label label-info">{{ tag|capitalize }}</span>
                                {% endfor %}

                                {% if shred_tags.recognizable_chars %}
                                    <pre>{{ shred_tags.recognizable_chars }}</pre>
                                {% endif %}

                                <div class="shred-pages">
                                {% for page in shred_tags.pages %}
                                    <span class="label label-warning" data-name="{{ page.name }}">{{ page.name }}</span>
                                {% endfor %}
                                </div>
                            {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                {% if loop.index % 4 == 0 or loop.last %}
                </div>
                {% endif %}
            {% endfor %}
            <div class="text-center">
                {{ render_pagination(shreds, 'review') }}
            </div>
        </div>
    </div>

    <div id="page-wrapper">
        <div id="controls-wrapper">
        </div>
        <div id="checked-shreds">
        </div>
    </div>
{% endblock %}