<div>
    <div class="shed-img transparent-bg"><img src="{{ shred.piece_fname }}"/></div>
    <div class="shed-img"><img src="{{ shred.piece_in_context_fname }}" /></div>
    <div class="shed-features">
        <h3>Лист #{{ shred.sheet }} / фрагмент #{{ shred.name }}</h3>
        <table class="sTable" width="100%">
            <tbody>
                <tr>
                    <th>x</th>
                    <td>{{ shred.features.x }}px</td>
                </tr>
                <tr>
                    <th>y</th>
                    <td>{{ shred.features.y }}px</td>
                </tr>
                <tr>
                    <th>Угол</th>
                    <td>{{ "%5.1f"|format(shred.features.angle) }}&deg;</td>
                </tr>
                <tr>
                    <th>Площадь</th>
                    <td>{{ shred.features.area }}px<sup>2</sup></td>
                </tr>
                <tr>
                    <th>Ширина</th>
                    <td>{{ shred.features.width }}px</td>
                </tr>
                <tr>
                    <th>Высота</th>
                    <td>{{ shred.features.height }}px</td>
                </tr>
                <tr>
                    <th>Соотношение сторон</th>
                    <td>{{ "%5.2f"|format(shred.features.ratio) }}</td>
                </tr>
                <tr>
                    <th>Компактность</th>
                    <td>{{ "%5.2f"|format(shred.features.solidity) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
    <textarea class="textarea-tags" rows="1"></textarea>
    <input type="hidden" name="shred_id" id="shred_id" value="{{ shred._id }}"/>
    <a class="btn btn-lg btn-default" id="save-button" href="#">Сохранить</a>
    <div class="clearfix"></div>
</div>

<script type="text/javascript">
    var tags = $('.textarea-tags').textext({
        plugins: 'tags autocomplete suggestions prompt arrow',
        tagsItems: [],
        prompt: 'Укажите тэги',
        suggestions: [
            {% for tag in all_tags %}
                '{{ tag|capitalize }}',
            {% endfor %}
        ]
    }).textext()[0].focusInput();
</script>