{% if shred %}
<div>
    <div class="shred-img transparent-bg"><img id="piece_fname" src="{{ shred.piece_fname }}" data-big="{{ shred.piece_large_fname }}" /></div>
    <div class="shred-img"><img id="piece_in_context_fname" src="{{ shred.piece_in_context_fname }}" data-big="{{ shred.piece_large_in_context_fname }}" /></div>

    <div class="shed-features">
        <h3>Порция {{ shred.batch }} / Лист #{{ shred.sheet }} / фрагмент #{{ shred.name }}</h3>
        <table class="sTable" width="100%">
            <tbody>
                <tr>
                    <th>x</th>
                    <td>{{ shred.features.x }}px</td>
                </tr>
                <tr>
                    <th>y</th>
                    <td>{{ shred.features.y }}px</td>
                </tr>
                <tr>
                    <th>Угол</th>
                    <td>{{ "%5.1f"|format(shred.features.angle) }}&deg;</td>
                </tr>
                <tr>
                    <th>Площадь</th>
                    <td>{{ shred.features.area }}px<sup>2</sup></td>
                </tr>
                <tr>
                    <th>Ширина</th>
                    <td>{{ shred.features.width }}px</td>
                </tr>
                <tr>
                    <th>Высота</th>
                    <td>{{ shred.features.height }}px</td>
                </tr>
                <tr>
                    <th>Соотношение сторон</th>
                    <td>{{ "%5.2f"|format(shred.features.ratio) }}</td>
                </tr>
                <tr>
                    <th>Компактность</th>
                    <td>{{ "%5.2f"|format(shred.features.solidity) }}</td>
                </tr>
            </tbody>
        </table>
        <br />
        <h3>Мои результаты:</h3>
        <table class="sTable" width="100%">
            <tbody>
                <tr>
                    <th>Обработал всего:</th>
                    <td>{{ processed_total }}</td>
                </tr>
                <tr>
                    <th>Обработал за сессию:</th>
                    <td>{{ processed_per_session }}</td>
                </tr>
                <tr>
                    <th>Рейтинг:</th>
                    <td>{{ rating }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>

    <div class="btn-group" data-toggle="buttons">
        {% for d in ['0', '90', '180', '270'] %}
        <label class="btn btn-warning">
            <input type="radio" name="options" value="{{ d }}"> {{ d }}&deg;
        </label>
        {% endfor %}
    </div>

    <div class="clearfix"></div>
    <textarea class="textarea-tags" rows="1" data-suggestions="{{ all_tags|map('capitalize')|list|tojson|forceescape}}"
    data-auto_tags="{{ auto_tags|map('capitalize')|list|tojson|forceescape}}"></textarea>
    <input type="hidden" name="shred_id" id="shred_id" value="{{ shred.pk }}"/>
    <input type="hidden" name="tagging_start" id="tagging_start" value="{{ tagging_start }}">
    <a class="btn btn-lg btn-default" id="save-button" href="#">Сохранить <small>(alt+enter)</small></a>
    <div class="clearfix"></div>
    <textarea name="rec_chars" id="rec_chars" placeholder="Узнаваемые элементы текста"></textarea>
</div>
{% else %}
<div><h2>Спасибо за помощь, сознательный гражданин! Работа завершена и теперь
подарочный Курченко будет выслан Вам укрпочтой в течении 7 рабочих дней.</h2></div>
{% endif %}
